<% layout("/layout/boilerplate") -%>

    <div class="row">
        <div class="col-8 offset-2">
            <br><br>
            <h3>Create A new Listings</h3>
            <form method="POST" action="/listings" class="needs-validation" enctype="multipart/form-data" novalidate>
                <!-- Title -->
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listings[title]" placeholder="Title" class="form-control" required>

                    <div class="valid-feedback">
                        Title Looks good!
                    </div>
                </div>

                <!-- Discription -->
                <div class="mb-3">
                    <label for="description" class="form-label">Discription</label>
                    <textarea type="text" name="listings[description]" placeholder="Enter Your discription"
                        class="form-control" required></textarea>

                    <div class="invalid-feedback">
                        Descriptions Should Be Valid.
                    </div>
                </div>

                <!-- Image Link -->
                <div class="mb-3">
                    <label for="url" class="form-label">Image Link</label>
                    <input name="listings[image]" type="file" placeholder="URL/LINK" class="form-control" required>

                    <div class="invalid-feedback">
                        ImageLink Should Be Valid.
                    </div>
                </div>
              

                <!-- Price -->
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="listings[price]" placeholder="Price" class="form-control" required>

                        <div class="invalid-feedback">
                            Price Should Be Valid.
                        </div>
                    </div>

                    <!-- Locatin -->
                    <div class="mb-3 col-md-8">
                        <label for="location" class="form-label">Locatin</label>

                        <input type="text" name="listings[location]" placeholder="Location" class="form-control"
                            required>
                        <div class="invalid-feedback">
                            Location Name Should Be Valid.
                        </div>
                    </div>

                    <!-- Country -->
                    <div class="mb-3">
                        <label for="country" class="form-label">Country</label>

                        <input type="text" name="listings[country]" placeholder="India" class="form-control" required>
                        <div class="invalid-feedback">
                            Country Name Should Be Valid.
                        </div>
                    </div>
                </div>

                <button class="btn btn-dark">Add</button>

            </form>
            <br><br>
        </div>
    </div>